/* Chrome-inspired security indicators.
Recommended about:config settings for even better look: 

* browser.urlbar.trimHttps (hide https)
* dom.security.https_only_mode (http shows warning page)
* dom.security.https_only_mode_ever_enabled (http shows warning page for all windows)
* security.insecure_connection_text.enabled (show warning label on http)

*/

/* Set secure state to "permissions" icon */
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon, 
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
    list-style-image: url(chrome://browser/skin/permissions.svg) !important;
}

/* Set actual permissions icon to a dot */
#permissions-granted-icon { 
    /* chrome://browser/skin/classic/browser/notification-fill-12.svg */
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill-opacity='context-fill-opacity'%3E%3Ccircle fill='context-fill' cx='6' cy='6' r='3'/%3E%3C/svg%3E") !important;
}

/* Red round exclamation for bad errors */
#identity-box[pageproxystate="valid"].weakCipher #identity-icon, 
#identity-box[pageproxystate="valid"].mixedDisplayContent #identity-icon, 
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked #identity-icon, 
#identity-box[pageproxystate="valid"].certUserOverridden #identity-icon, 
#identity-box[pageproxystate="valid"].certErrorPage #identity-icon {
    list-style-image: url("chrome://global/skin/icons/error.svg") !important;
    fill: rgb(226,40,80) !important;
}

/* Black warning triangle for less bad errors */
#identity-box[pageproxystate="valid"].notSecure #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon {
    list-style-image: url("chrome://global/skin/icons/warning.svg") !important;
}
 
