/* In-menu private browsing indicator */

#private-browsing-indicator-with-label {
    display: none !important;
}

#main-window[privatebrowsingmode="temporary"] #PanelUI-menu-button {
    list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
} 
