/** ==UserStyle==
 * @name uBlock Origin button to look like tracking protection
 * @author Madis0
 * @license MIT
 * @description
 *     Changes the icon of uBlock Origin to look like Firefox's tracking protection.
 *     The icon does *not* change according to whether uBO is enabled or not, 
 *     so use the count badge if you care about it. 
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #ublock0_raymondhill_net-browser-action {
      list-style-image: url(chrome://browser/skin/tracking-protection.svg) !important;
      fill: black !important;
    }
 }