/** ==UserStyle==
 * @name uBlock Origin button on the right of address bar
 * @author Madis0
 * @license MIT
 * @description
 *     Moves the uBlock Origin button inside the address bar, on the right, similar to Brave Browser's button. 
 *     Requires placing the uBlock Origin button directly to the right of the address bar.
 *     For better looks across platforms you may need to adjust the margins a bit.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #ublock0_raymondhill_net-browser-action {
      transform: translate(-0.4em) !important; /* Makes the button "float" 0.4 em to the right */
    }

    #urlbar-container {
      margin-right: -1.95em !important; /* Makes the address bar "move" under the button to the right */
    }

    #page-action-buttons {
      margin-right: 1.8em !important; /* Adds some margin to the page actions section to create space for the button */
    }
 }
