/** ==UserStyle==
 * @name Autohide identity box labels
 * @author Madis0
 * @license MIT
 * @description
 *    Automatically hides the labels on the identity box, including
 *    * Internal pages ("Firefox")
 *    * Extension pages ("Extension (extension name)")
 *    * Flag security.insecure_connection_text.enabled ("Not Secure")
 *    They can be made shown by hovering the identity box.
 */
@-moz-document url(chrome://browser/content/browser.xhtml)
{
  /* Shows the label on identity box hover */
  #identity-box:not(:hover) > #identity-icon-labels {
    visibility: collapse !important;
  }

  /* Remove label margin and border */
  #urlbar[pageproxystate="valid"] > #identity-box.notSecureText:not(:hover),
  #urlbar[pageproxystate="valid"] > #identity-box.chromeUI:not(:hover),
  #urlbar[pageproxystate="valid"] > #identity-box.extensionPage:not(:hover) {
    padding-inline-end: 6px !important;
    margin-inline-end: 4px !important;
    border-inline-end: none !important;
  }
}