/** ==UserStyle==
 * @name Black tracking protection icon
 * @author Madis0
 * @license MIT
 * @description
 *    Makes the tracking protection icon black when active (Firefox 70+).
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #tracking-protection-icon-box:not([hasException])[active] #tracking-protection-icon-animatable-image {
        background-image: url(chrome://browser/skin/tracking-protection.svg) !important;
        fill-opacity: 1 !important;
    }
 }