/** ==UserStyle==
 * @name Broken padlock to triangle
 * @author Madis0
 * @license MIT
 * @description
 *    Replaces the broken padlock with a generic warning symbol, here colored red.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #identity-box[pageproxystate="valid"].notSecure > #identity-icon,
    #identity-box[pageproxystate="valid"].insecureLoginForms > #identity-icon,
    #identity-box[pageproxystate="valid"].mixedActiveContent > #identity-icon {
      list-style-image: url("chrome://global/skin/icons/warning.svg") !important; 
      fill: #ff0e2f !important;
    }
 }