/** ==UserStyle==
 * @name Compact one-off search options in autocomplete
 * @author Madis0
 * @license MIT
 * @description
 *    Firefox 70 placed the one-off search options in one line on autocomplete. 
 *    This style removes the excessive top and bottom padding from it.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #urlbar .search-one-offs {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
 }