/** ==UserStyle==
 * @name Cookie tracking protection icon
 * @author Madis0
 * @license MIT
 * @description
 *    Makes the tracking protection icon look like a gray cookie/disabled black cookie.
 *    Useful if you use the tracking protection feature just for blocking 3rd party cookies.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #tracking-protection-icon {
        list-style-image: url(chrome://browser/skin/controlcenter/3rdpartycookies.svg) !important;
    }

    #tracking-protection-icon-box:not([hasException])[active] #tracking-protection-icon-animatable-image {
        background-image: url(chrome://browser/skin/controlcenter/3rdpartycookies-disabled.svg) !important;
        fill-opacity: 1 !important;
    }
 }