 /** ==UserStyle==
 * @name Gray padlock to globe icon
 * @author Madis0
 * @license MIT
 * @description
 *    Replaces the gray security lock with the globe icon (Firefox 70+).
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #identity-box[pageproxystate="valid"].verifiedDomain > #identity-icon,
    #identity-box[pageproxystate="valid"].verifiedIdentity > #identity-icon,
    #identity-box[pageproxystate="valid"].mixedActiveBlocked > #identity-icon {
      list-style-image: url(chrome://mozapps/skin/places/defaultFavicon.svg) !important;
      fill-opacity: 0.4 !important; /* De-emphasize */
    }
 }