/** ==UserStyle==
 * @name Hide identity box labels
 * @author Madis0
 * @license MIT
 * @description
 *    Hides the labels on the identity box, including
 *    * Internal pages ("Firefox")
 *    * Extension pages ("Extension (extension name)")
 *    * Flag security.insecure_connection_text.enabled ("Not Secure")
 */

@-moz-document url(chrome://browser/content/browser.xhtml) 
{
	/* Shows the label on identity box hover */
	#identity-box > #identity-icon-labels {
		display: none !important;
	}

	/* Remove label margin and border */
	#urlbar[pageproxystate="valid"] > #identity-box.notSecureText,
	#urlbar[pageproxystate="valid"] > #identity-box.chromeUI,
	#urlbar[pageproxystate="valid"] > #identity-box.extensionPage {
		padding-inline-end: 6px !important;
		margin-inline-end: 4px !important;
		border-inline-end: none !important;
	}
}