 /** ==UserStyle==
 * @name Hide Container name from address bar
 * @author Madis0
 * @license MIT
 * @description
 *    Hides the active Container's name from address bar
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #userContext-label {
      display: none !important;
    }
    
    #userContext-indicator {
      margin-inline-start: none !important;
    }
 }