 /** ==UserStyle==
 * @name Move tracking protection icon to the right edge
 * @author Madis0
 * @license MIT
 * @description
 *    Moves the tracking protection icon to the right edge of the address bar.
 *    Requires Firefox 70+.
 */
@-moz-document url(chrome://browser/content/browser.xhtml)
{
  #tracking-protection-icon-container {
    -moz-box-ordinal-group: 2 !important;
    border-inline-end: none !important;
  }
  /* Keep page info icon in place */
  #urlbar > #urlbar-input-container > #identity-box {
    -moz-box-ordinal-group: 0 !important;
  }
}