/** ==UserStyle==
 * @name Move tracking protection icon next to PageActions
 * @author Madis0
 * @license MIT
 * @description
 *    Moves the tracking protection icon to the right, next to PageActions.
 *    Requires Firefox 70+.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
   #tracking-protection-icon-container {
     -moz-box-ordinal-group: 2 !important;
     border-inline-end: none !important;
   }
   
   #page-action-buttons {
      -moz-box-ordinal-group: 3 !important;
   }
   
   /* Keep page info icon in place */
   #urlbar > #urlbar-input-container > #identity-box {
     -moz-box-ordinal-group: 0 !important;
   }
 }