/** ==UserStyle==
 * @name Move info/lock icon to the right
 * @author Madis0, GitHub user Mart3323
 * @license GPLv3
 * @description
 *     Move the SSL lock to the end of the address bar (Firefox 70+)
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #urlbarView-results > .urlbarView-row {
      padding-inline-start: var(--item-padding-end) !important;
    }

    #urlbar > #identity-box
    {
      -moz-box-ordinal-group: 2 !important; /* Move identity box to the end */
      border-inline-end: none !important; /* Remove any right borders from it (internal pages) */
      margin-inline-end: 0em !important; /* Remove the end margin */
      margin-inline-start: -0.2em !important; /* Remove the start margin */
    }

    .urlbar-input-box
    {
      margin-left: 0.5em !important; /* Add some margin back to left of urlbar to make it prettier */
    } /* If you're using reload-button-addressbar-left.css, set the value to 2em. */
 }