/** ==UserStyle==
 * @name Reload button on the left of address bar
 * @author Madis0, GitHub user Admicos
 * @license GPLv3
 * @description
 *     Moves the reload button inside the address bar, on the left. 
 *     Requires placing the reload button directly to the left of the address bar and Firefox 70+.
 *     For better looks across platforms you may need to adjust the margins a bit.
 *     https://github.com/Timvde/UserChrome-Tweaks/pull/47
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #stop-reload-button {
      transform: translate(0.4em) !important; /* Makes the reload button "float" 0.3 em to the right */
    }

    #urlbar-container {
      margin-left: -1.95em !important; /* Makes the address bar "move" under reload button to the left */
    }

    #tracking-protection-icon-container {
      margin-left: 1.8em !important; /* Adds some margin to the identity box to create space for the reload button */
    }
 }