/** ==UserStyle==
 * @name Switch the SSL lock and tracking protection icons
 * @author Madis0
 * @license MIT
 * @description
 *    Flips the order of SSL lock and tracking protection icon (Firefox 70+)
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    /* Lock icon first */
    #identity-box {
      margin-inline-end: 0px !important;
      -moz-box-ordinal-group: 0 !important;
    }

    /* Tracking protection icon second */
    #tracking-protection-icon-container {
      -moz-box-ordinal-group: 1 !important;
      border-inline-end: none !important; /* Move border to the start */
      border-inline-start: 1px solid var(--urlbar-separator-color) !important;
    }
   
   	/* Remove identity label margin and border */
    #urlbar[pageproxystate="valid"] > #identity-box.notSecureText,
    #urlbar[pageproxystate="valid"] > #identity-box.chromeUI,
    #urlbar[pageproxystate="valid"] > #identity-box.extensionPage {
      border-inline-end: none !important;
    }
 }