/** ==UserStyle==
 * @name Prevent tab overflow
 * @author Madis0, Jeremy Sturdivant
 * @license CC BY-SA
 * @description
 *     Prevent tab overflow as long as possible without making them hard to click
 *     Original by Jeremy Sturdivant: https://superuser.com/a/238435
 *     Similar thing can be achieved by setting browser.tabs.tabMinWidth to 1 in about:config
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    .tabbrowser-tab {
      min-width: 1em !important;
      clip-width: 1em !important;
    }
 }