 /** ==UserStyle==
 * @name Remove tab borders
 * @author Madis0
 * @license MIT
 * @description
 *     Removes the side borders from active and inactive tabs.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    .tabbrowser-tab::after, .tabbrowser-tab::before {
      border-left: none !important; /* Remove borders from inactive tabs */
    }

    :root {
      --tabs-border: transparent !important; /* Remove borders from active tab and below tabs */
    }
 }