 /** ==UserStyle==
 * @name Tab width concept
 * @author Madis0
 * @license MIT
 * @description
 *     Adjusts the active tab width by the browser concept.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    /* Normal selected tab width */
    .tabbrowser-tab[selected="true"]:not([pinned])[fadein]
    {
      min-width: 450px !important;
      max-width: 450px !important;
    }

    /* Pinned selected tab width */
    .tabbrowser-tab[selected="true"][pinned][fadein]
    {
      min-width: 224px !important;
      max-width: 224px !important;
    }

    /* Fix pinned tab title */
    .tabbrowser-tab[selected=true][pinned] > .tab-stack > .tab-content > .tab-label-container > .tab-label {
      margin-inline-start: 6px !important;
    }

    /* Color the background of active tab */
    .tab-content[selected=true] {
      background-color: #E6E6E6 !important;
    }
 }