 /** ==UserStyle==
 * @name Drag buttons to move window
 * @author Madis0
 * @license MIT
 * @description
 *    Enables various buttons and other toolbar elements to drag the browser window.
 *    Useful when you have tight toolbar space and it would be otherwise hard to drag the window.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
   toolbaritem, toolbarbutton, toolbarseparator, button, radio, splitter, menulist {
     -moz-window-dragging: drag !important;
   }
   
   #urlbar-container, #tabs-newtab-button { /* Exceptions to disable dragging */
     -moz-window-dragging: no-drag !important;
   }
 }