 /** ==UserStyle==
 * @name Private Browsing window icon to "historyless" icon
 * @author Madis0
 * @license MIT
 * @description
 *     Replaces the purple mask icon of Private Browsing windows with a striked-out history icon.
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
  .private-browsing-indicator {
    background-image: url(chrome://browser/skin/history.svg) !important;
  }

  /* Strikethrough https://stackoverflow.com/a/14593540 */
  .private-browsing-indicator:before { 
    position: absolute;
    content: "";
    left: 0;
    top: 45%;
    right: 0;
    border-top: 3px solid red;
    transform:rotate(-50deg);
  }
 }