/** ==UserStyle==
 * @name Reload/stop/throbber
 * @author Madis0
 * @license MIT
 * @description
 *    Shows the tab throbber instead of the stop button while the page loads. 
 *    Hover will change it back to stop button.
 *    Note that the throbber is _not_ synced with tab throbbers, don't look directly at it :D 
 */
 @-moz-document url(chrome://browser/content/browser.xhtml)
 {
    #stop-reload-button:not([animate]) > #stop-button {
        list-style-image: url("chrome://browser/skin/tabbrowser/tab-loading.png") !important; /* Show throbber after the reload-to-stop animation, until stop-to-reload animation */
    }

    #stop-reload-button > #stop-button:hover {
      list-style-image: url("chrome://browser/skin/stop.svg") !important; /* Show stop button on hover */
    }
 }